## pandas

In [3]:
import pandas as pd

In [4]:
animals = ['tiger','bear','lion']

In [6]:
pd.Series(animals)

0    tiger
1     bear
2     lion
dtype: object

In [8]:
numbers = [1,2,3,None]
pd.Series(numbers)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [12]:
import numpy as np

In [16]:
sports ={'archery':'bhutan','golf':'scotland','taekwondo':'southkorea'}
s = pd.Series(sports)
s

archery          bhutan
golf           scotland
taekwondo    southkorea
dtype: object

In [17]:
s.index

Index(['archery', 'golf', 'taekwondo'], dtype='object')

In [20]:
k = pd.Series(['tiger','lion','dear'],index = ['india','china','south'])
k

india    tiger
china     lion
south     dear
dtype: object

In [26]:
k.iloc[1] #position based

'lion'

In [24]:
k.loc['south'] #key based

'dear'

In [27]:
k[0]

'tiger'

In [28]:
sp = {99:'hello',100:'how are you',101:'fine',102:'Ram'}

In [29]:
s = pd.Series([100.0,200.0,30,40])
s

0    100.0
1    200.0
2     30.0
3     40.0
dtype: float64

In [30]:
for i in s:
    print(i)

100.0
200.0
30.0
40.0

In [32]:
total = np.sum(s)
total

370.0

In [33]:
np.random.randint(0,1000,10000) #create 0 to 1000 , 10,000 values

array([496, 545, 237, ..., 635, 891, 729])

In [35]:
s =pd.Series(np.random.randint(0,1000,10000))
s.head()

0    773
1    175
2    108
3     36
4    825
dtype: int32

## magical function for time 
   numpy is more faster

In [39]:
s  = s+2 #every value in s is incremented by 2
s.head()

0    777
1    179
2    112
3     40
4    829
dtype: int32

In [43]:
s[0] = 900

In [44]:
s.head()

0    900
1    179
2    112
3     40
4    829
dtype: int32

In [46]:
s.set_value(1,500)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

0    900
1    500
2    112
3     40
4    829
dtype: int32

In [47]:
%%timeit -n 1
s = pd.Series(np.random.randint(0,10,100))
for label,value in s.iteritems():
    s.loc[label] = value+2

The slowest run took 6.54 times longer than the fastest. This could mean that an intermediate result is being cached.
19.2 ms ± 19.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)