## List

In [1]:
a=list()
type(a)

list

In [2]:
b=[]
type(b)

list

In [3]:
students = [['sai',10,20,30],['lakshmi',30,40,60],['raju',30,40,60]]

In [16]:
i=0
for student in students:
    total = 0
    for each in student:
        if str(each).isdigit():
            total = total+each

In [18]:
students

[['sai', 10, 20, 30, 60, 130, 130, 380, 130, 130, 1020, 2040],
 ['lakshmi', 30, 40, 60, 130, 260],
 ['raju', 30, 40, 60, 130, 260]]

In [19]:
students1 = [['sai',10,20,30],['lakshmi',30,40,60],['raju',30,40,60]]

In [28]:
i=0
for student in students1:
    total = 0
    for each in student:
        if str(each).isdigit():
            total = total+each
    students1[i].append(total)
    i=i+1

In [25]:
students1

[['sai', 10, 20, 30, 60, 130, 130],
 ['lakshmi', 30, 40, 60],
 ['raju', 30, 40, 60]]

In [34]:
students2 = [['sai',10,20,30],['lakshmi',30,40,60],['raju',30,40,60]]

In [35]:
i=0
for student in students2:
    total = 0
    for each in student:
        if str(each).isdigit():
            total = total+each
    students2[i].append(total)
    i=i+1
for i in students2:
    for k i n i:
        if

In [37]:
students2

[['sai', 10, 20, 30, 60],
 ['lakshmi', 30, 40, 60, 130],
 ['raju', 30, 40, 60, 130]]

In [38]:
students3 = [['sai',10,20,30],['lakshmi',30,40,60],['raju',30,40,60]]

In [39]:
high = 0
for student in students3:
    name = student[0]
    marks = student[1]+student[2]+student[3]
    if high < marks:
        high =marks
for student in students3:
    name = student[0]
    marks = student[1]+student[2]+student[3]
    if high ==  marks:
        print(name)

lakshmi
raju

In [40]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [41]:
a.clear()

In [42]:
a.clear()

In [43]:
a

[]

In [44]:

a = [10,20,30]

In [45]:
a.insert(-1,40)

In [46]:
a

[10, 20, 40, 30]

In [47]:
a.insert(10,50)

In [48]:
a[4]

50

In [49]:
a

[10, 20, 40, 30, 50]

In [50]:
a.pop(0)

10

In [51]:
a.pop()

50

In [54]:
a

[20, 40, 30]

In [55]:
a.reverse()

In [56]:
a

[30, 40, 20]

In [60]:
a.sort()

In [58]:
a

[20, 30, 40]

In [61]:
min(a)

20

In [64]:
sum(a)

90

In [87]:
students4 = [[1,30,40],[3,40,100],[2,50,10]]

In [66]:
students4

[[1, 30, 40], [3, 40, 30], [2, 50, 10]]

In [69]:
for student in students:
    str(student[2]).sort()
    print(student)

AttributeError: 'str' object has no attribute 'sort'

In [75]:
students4[2].sort()
students4

[[1, 30, 40], [2, 50, 10], [3, 30, 40]]

In [76]:
students4

[[1, 30, 40], [2, 50, 10], [3, 30, 40]]

In [86]:
students4[2].sort()
students4

[[1, 30, 40], [2, 50, 10], [3, 30, 40]]

In [78]:
students4

[[1, 30, 40], [2, 50, 10], [3, 30, 40]]

In [82]:
s

In [85]:
print('ram')

ram

In [88]:
students4

[[1, 30, 40], [3, 40, 100], [2, 50, 10]]

In [92]:
students4[student[2]].sort()

IndexError: list index out of range

In [91]:
students4

[[1, 30, 40], [3, 40, 100], [2, 10, 50]]

In [93]:
students4

[[1, 30, 40], [3, 40, 100], [2, 10, 50]]

In [100]:
students4.sort()
students4

[[1, 30, 40], [2, 10, 50], [3, 40, 100]]

In [101]:
students4[-1].sort()

In [102]:
students4

[[1, 30, 40], [2, 10, 50], [3, 40, 100]]

In [107]:
students=[[1,30,40],[3,40,100],[2,50,10]]

In [108]:
students

[[1, 30, 40], [3, 40, 100], [2, 50, 10]]

In [130]:
a

[20, 30, 40]

In [131]:
students

In [112]:
b=(10,20,30)

In [133]:
numbers =  ['1','2','3']
''.join(numbers)

'123'

In [134]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [136]:
data = 'sairam 123 lakshmi'
total=0
for each in data:
    if each.isdigit:
        total = total+int(each)
print(total)

ValueError: invalid literal for int() with base 10: 's'