# list compresention

In [59]:
n=[]                      # normal method
for i in range(1,101):
    if i%3==0:
        n.append(i)
print(n)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

### syntex for list compresention
* [item loop condition]

In [60]:
[1 for i in range(10)]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [61]:
l=[1 for i in range(10)]
len(l)

10

In [62]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
[i for i in range(1,11) if i%2==0]

[2, 4, 6, 8, 10]

### filter data persentage>=60

In [65]:
stu=[['sai',70],['ram',30],['lakshmi',60]]
[i for i in stu if i[-1]>=60]

[['sai', 70], ['lakshmi', 60]]

### filter data persentage>=60 and backlogs below 2

In [66]:
stu=[['sai',70,1],['ram',30,2],['lakshmi',60,3]]
[i for i in stu if (i[1]>=60 and i[2]<2)]

[['sai', 70, 1]]

In [67]:
[ i+j for i in range(3) for j in range(3)]

[0, 1, 2, 1, 2, 3, 2, 3, 4]

In [68]:
[(x,y,z) for x in range(1,31) for y in range(x,31) for z in range(y,31) if x**2+y**2==z**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (18, 24, 30),
 (20, 21, 29)]

In [69]:
l=[int(str(i)+str(j)) for i in range(10) for j in range(10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [70]:
l=[str(i)+str(j) for i in range(10) for j in range(10)]
print(l)

['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99']

# create a dictionary for the squares of 1 to 10

In [71]:
square=dict()
square={}
for i in range(1,11):
    square[i]=i**2
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# dictionary compresention
* # {item loop condition}

In [72]:
{ each:each**2 for each in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [73]:
{ each:each**2 for each in range(2,11,2)}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [74]:
{ each:each**2 for each in range(1,11) if each%2==0}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

# Compresetion with ifelse
* # {if_item if_condition else_condition loop}

In [75]:
{ each:each**2 if each%2==0 else each**3 for each in range(1,11) }

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [79]:
n=['sai','ram','lakshmi']
b=['A','B','C']
{ n[i]:b[j] for i in range(len(n)) for j in range(len(n)) if i==j}

{'sai': 'A', 'ram': 'B', 'lakshmi': 'C'}

# zip

In [80]:
{i:j for i,j in zip(n,b)}

{'sai': 'A', 'ram': 'B', 'lakshmi': 'C'}

# sort the students based on the english marks
### ['name',english,maths]

In [89]:
students=[['sai',30,40],['lakshmi',100,30],['ram',50,46]]
d={}
l=[]
for i in range(len(students)):
    d[students[i][1]]=students[i]
    l.append(students[i][1])
l.sort()
students=[]
for i in l:
    students.append(d[i])
students

[['sai', 30, 40], ['ram', 50, 46], ['lakshmi', 100, 30]]

In [90]:
abs(-2)

2

In [91]:
students=[['sai',30,40],['lakshmi',100,30],['ram',50,46]]
students.sort(key=lambda x:x[1])
students

[['sai', 30, 40], ['ram', 50, 46], ['lakshmi', 100, 30]]

In [93]:
l=['12','34','344','3442','76']
res=[]
for i in range(len(l)):
    res.append(int(l[i]))
l,res

(['12', '34', '344', '3442', '76'], [12, 34, 344, 3442, 76])

# map(function,collection)

In [100]:
l=['12','34','344','3442','76']
s=map(int,l)   # map ( convertion_type , name_of_the_item_to_be_convert )
list(s)

[12, 34, 344, 3442, 76]

 # filter(function,collection)

In [103]:
l=[12, 34, 344, 3442, 76]
s=filter(None,l)
list(s)

[12, 34, 344, 3442, 76]

# with map

In [105]:
l=['12','34','344','0','76']
s=map(int,l)
l=filter(None,list(s))
list(l)

[12, 34, 344, 76]

In [107]:
students=[['sai',30,40],['lakshmi',10,30],['ram',50,46]]
s=filter(lambda x:x[1]>=30,students)
list(s)

[['sai', 30, 40], ['ram', 50, 46]]

In [117]:
students=[['sai',{'maths':30,'english':50}],['ram',{'english':100,'maths':100}],['raju',{'maths':50,'english':40}]]
students.sort(key=lambda x:x[-1]['maths'])
students

[['sai', {'maths': 30, 'english': 50}],
 ['raju', {'maths': 50, 'english': 40}],
 ['ram', {'english': 100, 'maths': 100}]]

In [119]:
a='rwerf'
for i in range(len(a)):
    if a[i]=='r':
        a[i]='y'
a

TypeError: 'str' object does not support item assignment