## data ordering in a file by marks

In [ ]:
fh_i = open('Book.txt','r')
fh_o = open('out.txt','w')
count = 0
rows = []
for line in fh_i:
    count = count+1
    if count==1:
        fh_o.write(line.strip() +"\ttotal\n")
    else:
        marks_list = line.strip().split()[2:]
        newmarks = []
        for each in marks_list:
            newmarks.append(int(each))
        total = sum(newmarks)
        row = line.strip()+"\t\t"+str(total)+"\n"
        rows.append([total,row])
rows.sort(reverse=True)
for row in rows:
    fh_o.write(row[1])
fh_i.close()
fh_o.close()

## LIST COMPREHENSION

In [ ]:
numbers = []
for i in range (1,101):
    if i%3==0:
        numbers.append(i)
print(numbers)

[num for i in range(1,11):if i%3==0]

In [ ]:
print([i for i in range(1,11)if i%3==0])

In [ ]:
n = [i for i in range(1,11) if i%2==0]
print(n)

In [ ]:
students = [['sai',70],['ram',30],['lakshmi',60]]
l=[each for each in students if each[1]>=60]
print(l)

In [ ]:
students = [['sai',70,1],['ram',30,2],['lakshmi',60,3]]
[each for each in students if (each[1] >= 60 and each[2]<=1)]

In [ ]:
for i in range(1,6):
    for j in range(1,6):
        for k in range(1,6):
            if (i**2+j**2)==k**2:
                print(i,j,k)

In [ ]:
[(i,j,k) for i in range(1,11) for j in range(1,11) for k in range(1,11) if (i**2+j**2)==k**2]

In [ ]:
[(i,j,k) for i in range(1,11) for j in range(i,11) for k in range(j,11) if (i**2+j**2)==k**2]

In [ ]:
print([str(i)+str(j) for i in range(0,10) for j in range(0,10)])

In [ ]:
{i:i**2 for i in range(1,10)}

In [ ]:
squares = {}
for i in range(1,11):
    squares[i] = i*i
print(squares)

In [ ]:
{each:each*each if each%2==0 else each**3 for each in range(1,10)}

In [3]:
name = ['sai','ramu','lakshmi']
grades = ['A','B','c']
students ={}
for i in range(len(name)):
    names=name[i]
    grade=grades[i]
    students[names]=grade
print(students)

{'sai': 'A', 'ramu': 'B', 'lakshmi': 'c'}

In [22]:
students = [['sai',30,40],['lakshmi',100,30],['ram',50,60]]
rows = []
l1 = []
for student in students:
    rows.append([student[1],student])
rows.sort()
for i in rows:
    l1.append(i[1])
print(l1)

[['sai', 30, 40], ['ram', 50, 60], ['lakshmi', 100, 30]]

In [21]:
students = [['sai',30,40],['lakshmi',100,30],['ram',50,60]]
l =[]
l1 = []
for student in students:
    l.append(student[1])
l.sort()
for t in l:
    for e in students:
        if t == e[1]:
            l1.append(e)
print(l1)

[['sai', 30, 40], ['ram', 50, 60], ['lakshmi', 100, 30]]

In [24]:
students = [['sai',30,40],['lakshmi',100,30],['ram',50,60]]
remove = 1
for student in students:
    # 'sai',30,40
    student.insert(0,student.pop(remove))
    # 30,'sai',40
students.sort()
for i in students:
    #30,'sai',40
    i.insert(remove,i.pop(0))
    #'sai',30,40
print(students)

[['sai', 30, 40], ['ram', 50, 60], ['lakshmi', 100, 30]]

###  lambda     function

In [25]:
sq = lambda x:x*x
sq(3)

9

In [26]:
students = [['sai',30,40],['lakshmi',100,30],['ram',50,60]]
students.sort(key= lambda x:x[1])
print(students)

[['sai', 30, 40], ['ram', 50, 60], ['lakshmi', 100, 30]]

In [ ]:
numbers = ['10','30','40']

## map(function,collection)
    returns the adderess of the  stored values location

In [27]:
numbers = ['10','20','30']
s = map(int,numbers)
print(s)
print(list(s))

<map object at 0x0000025193E8F898>
[10, 20, 30]

In [31]:
numbers = ['10','20','30']
list(map(lambda x:int(x)+30,numbers))

[40, 50, 60]

In [38]:
marks =[10,20,30,40]
s = filter(None,marks)
list(s)

[10, 20, 30, 40]

In [39]:
students = [['sai',10],['sunny',30],['ramu',50]]